<div class=“my-auto” style= “background-image: url(<%= asset_path "back_img2.jpeg" %>);background-size: cover; height: 100vh;“>
<br>
<br>
<br>
<br>
<br>
  <div class="container ">
    <div class="card text-center my-auto">
      <div class="card-body">
        <h3 class="card-title"> Vous venez de donner <strong> <%=@amount / 100%> € </strong>!</h3>
      </div>

      <div class="card-footer text-muted mb-2">
        <div class="card-header mt-2">
          <h4 class="card-title">L'équipe de shaRespeare vous remerice :)</h4>
            <%= form_tag home_index_path, method: :get do %>
                <%= button_tag "Acceuil", class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
